---
import type { CollectionEntry } from "astro:content";
import { commentConfig } from "@/config";
import Giscus from "./Giscus.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const { id, data, slug } = Astro.props.post;

const path = `/posts/${slug}`;
const url = `${Astro.site?.href}${path}`;

let commentService = "giscus";
---
<div class="card-base p-6 mb-4">
  {commentService === 'giscus' && <Giscus />}
  {commentService === '' && null}
</div>